<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @note.email %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @note.msg %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
