<!-- Navbar (sit on top) -->
<header>
  <a class="gastroDev-bar-item gastroDev-button gastroDev-hover-black gastroDev-hide-medium gastroDev-hide-large gastroDev-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
    <i class="fa fa-bars"></i>
  </a>
  <% if user_signed_in? %>
  <%= link_to root_path, class: "gastroDev-bar-item gastroDev-button " do %>
    <i class="fas fa-home"></i> HOME <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to admin_dashboard_path, class: "gastroDev-bar-item gastroDev-button " do %>
    <i class="fas fa-desktop"></i> DASHBOARD <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'gastroDev-bar-item gastroDev-button gastroDev-hide-small'  %>

  <% else %>
  <%= link_to root_path, class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-home"></i> HOME <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to root_path(anchor: 'about'), class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-user"></i> ABOUT <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to root_path(anchor: 'portfolio'), class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-th"></i> PORTFOLIO <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to root_path(anchor: 'contact'), class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-envelope"></i> CONTACT <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to blogs_path, class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-blog"></i> Blog <span class="sr-only">(current)</span>
  <% end %>
  <%= link_to new_user_session_path, class: "gastroDev-bar-item gastroDev-button" do %>
    <i class="fas fa-user-shield"></i> LOGIN <span class="sr-only">(current)</span>
  <% end %>
<% end %>



</header>
